html
	ff $os
	h(100%)
body
	// oh()
	bgc(#eff2f7)
	h(100%)

.container 
	max-width 1290px
	width 100%
	padding 0 15px
	margin 0 auto

.main
	display flex
	flex-direction column
	height 100%
	&__content 
		flex 1 0 auto