// @font-face
//     font-family 'Hankook';
//     src url('~@/assets/fonts/HankookTTFBoldOblique.woff2') format('woff2'), url('~@/assets/fonts/HankookTTFBoldOblique.woff') format('woff')
//     font-weight 700
//     font-style normal

@font-face 
    font-family: 'NewBaskervilleC'
    src: url('~@/assets/fonts/NewBaskervilleC.woff2') format('woff2'),
        url('~@/assets/fonts/NewBaskervilleC.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'PT Sans'
    src: url('~@/assets/fonts/PTSans-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/PTSans-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap
